/* Allow scroll on x-axis */
table {
  overflow-x: auto;
  display: block;
  white-space: nowrap;
}

/* Show border left and take off background color */
blockquote {
  background-color: transparent;
  border-top: none;
  border-bottom: none;
  border-left: .25em solid var(--quote-border);
  padding: 1px 1em;
}

/* Allow click link on white space */
.chapter li a[href] {
  width: 100%;
}

/* Give some space fore focused border */
.sidebar .sidebar-scrollbox {
  padding: 10px 15px;
}
