.md-content__inner strong {
  background: linear-gradient(120deg, #6debad7d 0%, #6debad7d 100%);
  background-repeat: no-repeat;
  background-size: 100% 30%;
  background-position: 0 100%;
}

@media screen {
  [data-md-color-scheme=slate] {
    --md-typeset-color: #fafafa;
  }
}

/* mermaid styling */
.mermaid .flowchartTitleText {
  fill: var(--md-typeset-color) !important;
}
