/* Center things */

.md-typeset__table {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

figure img {
  margin-left: auto;
  margin-right: auto;
}

.md-typeset :is(.admonition, details) {
  font-size: .8rem;
}

/**
  * It will wider than mjx-math and cause screen broken.
  * This element is for screen-reader, see detailed in
  * https://docs.mathjax.org/en/latest/basic/accessibility.html#screen-reader-support
  */
.MathJax mjx-assistive-mml {
  display: none !important;
}

/**
  * Keep zoomed-in image on the top of palette
  */
.medium-zoom-image--opened {
  z-index: 10;
}

.md-content__inner strong {
  background: linear-gradient(120deg, #6debad7d 0%, #6debad7d 100%);
  background-repeat: no-repeat;
  background-size: 100% 30%;
  background-position: 0 100%;
}

@media screen {
  [data-md-color-scheme=slate] {
    --md-typeset-color: #fafafa;
  }
}

/* Navigation */

@view-transition {
  navigation: auto;
  types: slide, forwards;
}

/* Determine what gets captured when the type is forwards or backwards */
html:active-view-transition-type(forwards, backwards) {
  :root {
    view-transition-name: none;
  }

  article {
    view-transition-name: content;
  }
}

/* Animation styles for forwards type only */
html:active-view-transition-type(forwards) {
  &::view-transition-old(content) {
    animation-name: slide-out-to-left;
  }

  &::view-transition-new(content) {
    animation-name: slide-in-from-right;
  }
}

/* Animation styles for backwards type only */
html:active-view-transition-type(backwards) {
  &::view-transition-old(content) {
    animation-name: slide-out-to-right;
  }

  &::view-transition-new(content) {
    animation-name: slide-in-from-left;
  }
}

/* Animation styles for reload type only */
html:active-view-transition-type(reload) {
  &::view-transition-old(root) {
    animation-name: fade-out, scale-down;
  }

  &::view-transition-new(root) {
    animation-delay: 0.25s;
    animation-name: fade-in, scale-up;
  }
}
